                        <div class="indicators__wrapper">
                          <div class="indicators indicators--static">
                            <ul class="indicators__list">
                              {% for category in page.chart_data['categories'] %}
                              <li class="indicators__item indicators__item--theme">
                                <div class="indicators__indicator {{ category[1]['fill_class'] }}"></div>
                                <span class="indicators__label">{{ category[1]['name'] }}</span>
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>

                        <div class="indicators__wrapper">
                          <div class="indicators indicators--floating is-visible">
                            <a class="indicators--floating__button" href="#">{{ "Volver arriba" | t:page.lang }}</a>
                            <ul class="indicators__list">
                              {% for category in page.chart_data['categories'] %}
                              <li class="indicators__item indicators__item--theme">
                                <div class="indicators__indicator {{ category[1]['fill_class'] }}"></div>
                                <span class="indicators__label">{{ category[1]['name'] }}</span>
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>



                        <ul class="data__list data__list--vertical regional-comparison-data__results">
                          {% for country in page.chart_data['countries'] %}
                          {% assign num_bars = country['bars'] | size %}


                          {% if num_bars > 2 %}
                            {% assign bar_height = 35 %}
                          {% else %}
                            {% assign bar_height = 70 %}
                          {% endif %}

                          {% assign chart_height = num_bars | times:bar_height %}

                          <li class="data__item data__item--regional-comparison-country regional-comparison-data__item is-{% cycle 'odd', 'even' %}">
                            <div class="data__row regional-comparison-country__topic-score" style="height: {{chart_height}}px;">

                              <div class="data__column-left regional-comparison-country__picture country-bg--{{ country['code'] }}" style="height: {{chart_height}}px;">
                                {% capture url %}/countries/{{ country['code'] }}{% endcapture %}
                                <a href="{{ url | lp:page.lang }}" class="regional-comparison-country__link">
                                  <span class="regional-comparison-country__label">{{ country['name'] }}</span>
                                </a>
                              </div>

                              <div class="data__column-right regional-comparison-country__topic-graph" style="height: {{chart_height}}px;">
                                <!-- :: Starts Graph Markup :: -->

                                {% for bar in country['bars'] %}
                                {% assign bar_id = bar[0] %}
                                {% assign bar_data = bar[1] %}
                                {% assign average_negative = page.chart_data['categories'][bar_id]['average_negative'] %}
                                <div class="partial-score__bar-wrapper" style="height: {{bar_height}}px;">
                                  <div class="partial-score__bar {{ bar_data['fill_class'] }}" style="transform: translate(-{{ bar_data['progress_negative'] }}%); height: {{bar_height}}px;"></div>
                                  <div class="partial-score__average-indicator" style="transform: translate(-{{ average_negative }}%); height: {{bar_height}}px;"></div>
                                  <div class="partial-score__bar partial-score__bar--score" style="transform: translate(-{{ bar_data['progress_negative'] }}%); height: {{bar_height}}px;">
                                    <span class="partial-score__number-indicator">{{ bar_data['progress'] }}%</span>
                                  </div>
                                </div>
                                {% endfor %}
                                <!-- :: Ends Graph Markup :: -->
                              </div>
                            </div>
                            
                            {% if num_bars > 1 %}
                            <div class="data__row regional-comparison-country__global-score">
                              <span class="global-score__label">{{ "Puntaje total" | t:page.lang }}</span>
                              <div class="global-score__bar-wrapper">
                                <div class="global-score__bar" style="transform: translate(-{{ country['progress_negative']}}%);">
                                  <span class="global-score__number-indicator">{{ country['progress'] }}%</span>
                                </div>
                                <div class="global-score__average-indicator" style="transform: translate(-{{ page.chart_data['country_average_negative'] }}%);"></div>
                              </div>
                            </div>
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
