                        <div class="indicators__wrapper">
                          <div class="indicators">
                            <ul class="indicators__list">
                              {% for category in page.chart_data['categories'] %}
                              <li class="indicators__item indicators__item--theme">
                                <div class="indicators__indicator {{ category[1]['fill_class'] }}"></div>
                                <span class="indicators__label">{{ category[1]['name'] }}</span>
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>



                        <ul class="data__list data__list--vertical regional-comparison-data__results">
                          {% for country in page.chart_data['countries'] %}
                          <li class="data__item data__item--regional-comparison-country regional-comparison-data__item is-{% cycle 'odd', 'even' %}">
                            <div class="data__row regional-comparison-country__topic-score">

                              <div class="data__column-left regional-comparison-country__picture country-bg--{{ country['code'] }}">
                                <a href="./tarjeta.html" class="regional-comparison-country__link">
                                  <span class="regional-comparison-country__label">{{ country['name'] }}</span>
                                </a>
                              </div>

                              <div class="data__column-right regional-comparison-country__topic-graph">
                                <!-- :: Starts Graph Markup :: -->

                                {% for bar in country['bars'] %}
                                {% assign bar_id = bar[0] %}
                                {% assign bar_data = bar[1] %}
                                {% assign average_negative = page.chart_data['categories'][bar_id]['average_negative'] %}
                                <div class="partial-score__bar-wrapper">
                                  <div class="partial-score__bar fill-color--{{ bar_id }}" style="transform: translate(-{{ bar_data['progress_negative'] }}%);">
                                    <span class="partial-score__number-indicator">{{ bar_data['progress'] }}%</span>
                                  </div>
                                  <div class="partial-score__average-indicator" style="transform: translate(-{{ average_negative }}%);"></div>
                                </div>
                                {% endfor %}
                                <!-- :: Ends Graph Markup :: -->
                              </div>
                            </div>

                            <div class="data__row regional-comparison-country__global-score">
                              <span class="global-score__label">{{ "Puntaje total" | t:page.lang }}</span>
                              <div class="global-score__bar-wrapper">
                                <div class="global-score__bar" style="transform: translate(-{{ country['progress_negative']}}%);">
                                  <span class="global-score__number-indicator">{{ country['progress'] }}%</span>
                                </div>
                                <div class="global-score__average-indicator" style="transform: translate(-{{ page.chart_data['country_average_negative'] }}%);"></div>
                              </div>
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
