      <div class="modal__wrapper" style="display: none;">
        <div class="modal modal--recommendations">
          <div class="modal__close">
            <a href="#" class="modal__close-link">
              <span class="modal__close-label">Close</span>
            </a>
          </div>
          
          <!-- :: Begins Modal content :: -->
          <div class="recommendations">
            {% for subject_group in page.chart_data %}
            {% for subject in subject_group.bars %}
            <div class="subject-recommendations subject-recommendations--subject-nid-{{ subject.subject_nid }}">
              <div class="subject-recommendations__headding">
                <div class="subject-recommendations__headding-icon fill-color--subject-nid-{{ subject.subject_nid }}">
                  <img src="/img/topics/subject-{{ subject.subject_nid }}.png" alt="Topic Icon" class="subject-recommendations__headding-icon-img">
                </div>
                <h2 class="subject-recommendations__headding-title">{{ subject.name }}</h2>
              </div>

              <div class="subject-recommendations__contents">
                <h3 class="subject-recommendations__contents-title">{{ "Recomendaciones" | l:page.lang }}</h3>
                <ul class="subject-recommendations__container">
                {% for recommendation in subject.recommendations %}
                  <li class="recommendation">
                    <span class="recommendation__text">{{ recommendation[1].text }}</span>
                  </li>
                {% endfor%}
                </ul>
              </div>

            </div>
            {% endfor%}
            {% endfor%}
          </div>
          <!-- :: Ends Modal content :: -->

        </div>
      </div>
