                                    {% if component[1].documents != empty %}
                                    <table class="topic-period-data__source-table source-table">
                                      <thead class="source-table__header">
                                        <tr class="source-table__row">
                                          <th class="source-table__cell source-table__cell--header">{{ "Documento" | t:page.lang }}</th>
                                          <th class="source-table__cell source-table__cell--header">{{ "Notas" | t:page.lang }}</th>
                                        </tr>
                                      </thead>
                                      <tbody class="source-table__body">
                                        {% for document in component[1].documents %}
                                        <tr class="source-table__row">
                                          <td class="source-table__cell source-table__cell--document">
                                            <a href="{{ document.file }}" class="source-table__link">{{ document.name }}</a>
                                          </td>
                                          <td class="source-table__cell">
                                            {% for note in document.notes %}
                                            <p>{{ note }}</p>
                                            {% endfor %}
                                          </td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                    {% endif %}

