                                    <span class="topic-period-data__item-heading">{{ component[1].name }}</span>
                                    {% for answer in component[1].answer %}
                                      <p>{{ answer }}</p>
                                    {% endfor %}
                                    
                                    {% include content/subject_details/blocks/evaluation_components/documents_table.html %}
