                            <td class="country-comparison-table__column is-country-specific country-{{ country[1]['code'] }}">
                              <div class="country-comparison-table__column_container">
                                {% assign answersize = country_component_evaluation['answer'] | size %}
                                <div class="country-comparison-table__label country-comparison-table__result" style="background-color: {{ country_component_evaluation['color'] }};">
                                  {% if answersize > 0 and country_component_evaluation['answer'][0] != "" %}
                                  <span class="country-comparison-table__result-show">
                                    <img src="/img/icons/plus--gray.png" alt="Mostrar Respuesta" class="country-comparison-table__result-show-img country-comparison-table__result-show-img--more">
                                    <img src="/img/icons/minus--gray.png" alt="Ocultar Respuesta" class="country-comparison-table__result-show-img country-comparison-table__result-show-img--less">
                                  </span>
                                  {% endif %}
                                </div>
                                {% if answersize > 0 and country_component_evaluation['answer'][0] != "" %}
                                  <div class="country-comparison-table__answers">
                                  {% for answer in country_component_evaluation['answer'] %}
                                    <div class="country-comparison-table__answer is-{% cycle 'odd', 'even' %}">
                                      <p>{{ answer }}</p>
                                    </div>
                                  {% endfor %}
                                  </div>
                                {% endif %}
                              </div>
                            </td>

