                            <td class="country-comparison-table__column country-comparison-table__column--reactive">
                              <div class="country-comparison-table__column_container">
                                <div class="country-comparison-table__question">
                                  <span class="country-comparison-table__question-label">{{ component_name }}</span>
                                </div>
                              </div>
                            </td>

