                    <div class="country-comparison__heading">
                      <div class="country-comparison__title-bar">
                        <h2 class="country-comparison__title">{{ "Comparar" | t:page.lang }}: {{ page.subject.name }}</h2>
                      </div>
                      <div class="country-comparison__menu-bar">
                        <nav class="menu menu--horizontal country-comparison-menu">
                          <form action="" class="form form--menu-inner-form menu__form country-comparison-menu__form">
                            <ul class="menu__list country-comparison-menu__list">
                              <li class="menu__item country-comparison-menu__item">
                                <div class="form__row country-comparison-menu__row">
                                  <!--<span class="form__label menu__label country-comparison-menu__label">{{ "Cambiar de tema" | t:page.lang }}</span>-->
                                  <select name="" id="subjects-select" class="form__select country-comparsion-menu__select country-comparsion-menu__select--topic">
                                    <option value="">{{ "Cambiar de tema" | t:page.lang }}</option>

                                    {% for subject in page.subjects_sorted %}
                                    <option value="{{ subject.id }}">{{ subject.name }}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                              </li>
                              <li class="menu__item country-comparison-menu__item">
                                <div class="form__row country-comparison-menu__row">
                                    <!--<span class="form__label menu__label country-comparison-menu__label">Seleccionar paises:</span>-->
                                    <!--<span class="form__label menu__label country-comparison-menu__label">{{ "Añadir un país" | t:page.lang }}</span>-->
                                    <select name="" id="countries-select" class="form__select country-comparsion-menu__select country-comparsion-menu__select--countries">
                                      <option value="">{{ "Añadir un país" | t:page.lang }}</option>

                                      {% for country in page.countries %}
                                      <option value="{{ country['code'] }}">{{ country['name'] }}</option>
                                      {% endfor %}

                                    </select>
                                  </div>
                              </li>
                              <li class="menu__item country-comparison-menu__item">
                                <div class="form__row country-comparison-menu__row">
                                  <span class="form__label menu__label country-comparison-menu__label">{{ "Mostrar respuestas" | t:page.lang }}</span>
                                  <label class="menu__switch switch country-comparison-menu__switch">
                                    <input id="toggle-show-answers" type="checkbox" class="switch__checkbox" autocomplete=off>
                                    <span class="switch__slider"></span>
                                  </label>
                                  <span class="form__label menu__label country-comparison-menu__label">{{ "Expandir filas" | t:page.lang }}</span>
                                  <label class="menu__switch switch country-comparison-menu__switch">
                                    <input id="toggle-expand-rows" type="checkbox" class="switch__checkbox" autocomplete=off>
                                    <span class="switch__slider"></span>
                                  </label>
                                </div>
                              </li>
                            </ul>
                          </form>
                        </nav>
                      </div>
                    </div>
