                    <div class="country-comparison__table-container">
                      <div class="country-comparison-table__clone-container">
                        <div class="country-comparison-table__clone-container-layer country-comparison-table__clone-container-layer-1">
                          <table class="country-comparison-table__clone country-comparison-table__clone--header"></table>
                          <table class="country-comparison-table__clone country-comparison-table__clone--column"></table>
                        </div>
                        <div class="country-comparison-table__clone-container-layer country-comparison-table__clone-container-layer-2">
                          <table class="country-comparison-table__clone country-comparison-table__clone--cell"></table>
                        </div>
                      </div>
                      <table class="country-comparison__table country-comparison-table">
                        <thead class="country-comparison-table__header">
                          <tr class="country-comparison-table__row">
                            <th class="country-comparison-table__column country-comparison-table__column--head country-comparison-table__column--reactive">
                              <span class="country-comparison-table__header-label">{{ "Pregunta" | t:page.lang }}</span>
                            </th>


                            {% comment %}
                            ***********************************
                            Iterate over the countries (without going any deeper in the comparison data structure)
                            and generate the country name header for each of them
                            ***********************************
                            {% endcomment %}


                            {% for country in page.comparison_data %}
                            <th class="country-comparison-table__column country-comparison-table__column--head country-comparison-table__column--country is-country-specific country-{{ country[1]['code'] }}">
                              <span class="country-comparison-table__header-label">{{ country[1].name }}</span>
                              <div class="country-comparison-table__header-close-button" data-country="{{ country[1].code }}">
                                <img src="/img/icons/close--white.png" alt="Close" class="country-comparison-table__header-close-button-img">
                              </div>
                            </th>
                            {% endfor %}


                          </tr>
                        </thead>
                        <tbody class="country-comparison-table__body">

                        {% comment %}
                        ***********************************
                        Iterate over the subtopics, generate the left-header row with subtopic name, and then
                        the cells for all the countries.
                        ***********************************
                        {% endcomment %}

                        {% assign tree = page.comparison_data['ARG']['evaluation_details'] %}
                        {% for subtopic in tree %}
                        {% assign subtopic_id = subtopic[0] %}
                          <tr class="country-comparison-table__row country-comparison-table__row--level-0 is-no-trigger">
                            <td class="country-comparison-table__column country-comparison-table__column--reactive">
                              <div class="country-comparison-table__column_container">
                                <div class="country-comparison-table__question">
                                  <span class="country-comparison-table__question-label">{{ subtopic[1]['name'] }}</span>
                                </div>
                              </div>
                            </td>

                          {% for country in page.comparison_data %}
                          {% assign country_subtopic_evaluation = country[1]['evaluation_details'][subtopic_id] %}
                          {% assign eval_color = country_subtopic_evaluation['progress'] | eval_color %}
                          
                            <td class="country-comparison-table__column is-country-specific country-{{ country[0] }}">
                              <div class="country-comparison-table__column_container">
                                <span class="country-comparison-table__label fill-color--eval-{{ eval_color }}">{{ country_subtopic_evaluation['progress']}}%</span>
                              </div>
                            </td>
                          {% endfor %}

                          </tr>

                          {% comment %}
                          ***********************************
                          Iterate over the subtopic components, generate the left-header row with question, and then
                          the cells for all the countries.
                          ***********************************
                          {% endcomment %}

                          {% assign components = subtopic[1]['components'] %} 

                          {% for component in components %}
                          {% assign form_key = component[0] %}
                          {% assign component_name = component[1]['name'] %}
                          {% assign component_level = 1 %}

                          <tr class="country-comparison-table__row country-comparison-table__row--level-{{ component_level }}">
                            {% include content/country_comparison/component_header_cell.html %}

                            {% for country in page.comparison_data %}
                            {% assign country_component_evaluation = country[1]['evaluation_details'][subtopic_id]['components'][form_key] %}
                              {% include content/country_comparison/component_cell.html %}
                            {% endfor %}
                          </tr>




                          {% comment %}
                          ***********************************
                          Iterate over the child components, generate the left-header row with question, and then
                          the cells for all the countries.
                          ***********************************
                          {% endcomment %}

                          {% assign components = component[1]['child_components'] %} 
                          {% for component in components %}
                          {% assign l1_form_key = component[0] %}
                          {% assign component_name = component[1]['name'] %}
                          {% assign component_level = 2 %}

                          <tr class="country-comparison-table__row country-comparison-table__row--level-{{ component_level }}">
                            {% include content/country_comparison/component_header_cell.html %}

                            {% for country in page.comparison_data %}
                            {% assign country_component_evaluation = country[1]['evaluation_details'][subtopic_id]['components'][form_key]['child_components'][l1_form_key] %}
                              {% include content/country_comparison/component_cell.html %}
                            {% endfor %}
                          </tr>



                          {% comment %}
                          ***********************************
                          Iterate over the second-level child components, generate the left-header row with question, and then
                          the cells for all the countries.

                          (yes, yes, I know... this is what recursion is for...)
                          ***********************************
                          {% endcomment %}

                          {% assign components = component[1]['child_components'] %} 
                          {% for component in components %}
                          {% assign l2_form_key = component[0] %}
                          {% assign component_name = component[1]['name'] %}
                          {% assign component_level = 3 %}

                          <tr class="country-comparison-table__row country-comparison-table__row--level-{{ component_level }}">
                            {% include content/country_comparison/component_header_cell.html %}

                            {% for country in page.comparison_data %}
                            {% assign country_component_evaluation = country[1]['evaluation_details'][subtopic_id]['components'][form_key]['child_components'][l1_form_key]['child_components'][l2_form_key] %}
                              {% include content/country_comparison/component_cell.html %}
                            {% endfor %}
                          </tr>

                          {% endfor %} <!-- ends second level children components loop -->

                          {% endfor %} <!-- ends first level children components loop -->

                          {% endfor %} <!-- ends subtopic components loop -->

                        {% endfor %} <!-- ends subtopics loop -->
                        </tbody>
                      </table>
                    </div>
