          <div class="page__footer-container">
            <!-- :: Begins footer markup :: -->

            <div class="footer__wrapper">
              <div class="footer">
                <!--
                  :: Item List ::
                    - Footer Tag
                -->

                <!-- :: Footer Tag :: -->
                <div class="footer__item footer__item--footer-tag">
                  <div class="footer-tag__wrapper">
                    <div class="footer-tag">
                      <p>Mira que te Miro | 2017</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- :: Ends footer markup :: -->
          </div>
