        <div class="page__header-container">
            <!-- :: Begins header markup :: -->

            <div class="header__wrapper">
              <div class="header">

                <!-- :: Logo :: -->
                <div class="header__item header__item--logo">
                  <div class="logo__wrapper">
                    <div class="logo">
                      <a href="{{ "/" | lp:page.lang }}"><img src="/img/logo.png" alt="Montevideo Logo" class="logo__img"></a>
                      <h1 class="logo__text-heading">Mira que te miro</h1>
                    </div>
                  </div>
                </div>

                <!-- :: Menu :: -->
                <div class="header__item header__item--main-menu">
                  <div class="main-menu__wrapper">
                    <nav class="menu menu--horizontal main-menu">
                      <ul class="menu__list main-menu__list">
                        <li class="menu__item main-menu__item main-menu__item--home">
                          <a href="{{ '/' | lp:page.lang }}" class="menu__link main-menu__link main-menu__link--home">
                            <span class="menu__label main-menu__label main-menu__label--home">{{ "Inicio" | t:page.lang }}</span>
                          </a>
                        </li>
                        <li class="menu__item main-menu__item main-menu__item--glossary">
                          <a href="{{ '/glossary/' | lp:page.lang }}" class="menu__link main-menu__link main-menu__link--glossary">
                            <span class="menu__label main-menu__label main-menu__label--glossary">{{ "Glosario" | t:page.lang }}</span>
                          </a>
                        </li>
                        <li class="menu__item main-menu__item main-menu__item--comparison">
                          <a href="{{ '/compare/38/' | lp:page.lang }}" class="menu__link main-menu__link main-menu__link--comparison">
                            <span class="menu__label main-menu__label main-menu__label--comparison">{{ "Comparación" | t:page.lang }}</span>
                          </a>
                        </li>
                        <li class="menu__item main-menu__item main-menu__item--countries">
                          <a href="#" class="menu__link main-menu__link main-menu__link--countries">
                            <span class="menu__label main-menu__label main-menu__label--countries">{{ "Seleccione un país" | t:page.lang }}</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>

                <!-- :: Lang-Bar :: -->
                <div class="header__item header__item--lang-bar">
                  <div class="lang-bar__wrapper">
                    <div class="menu menu--vertical lang-bar">
                      <ul class="menu__list lang-bar__list">
                        <li class="menu__item lang-bar__item lang-bar__item--esp {% if page.lang == 'es' %}lang-bar__item--is-active{% endif %}">
                          <a href="{{ page.url | lswitch:page.lang,'es' }}" class="menu__link lang-bar__link lang-bar__link--esp">
                            <span class="menu__label lang-bar__label lang-bar__label--esp">Esp</span>
                          </a>
                        </li>
                        <li class="menu__item lang-bar__item lang-bar__item--eng {% if page.lang == 'en' %}lang-bar__item--is-active{% endif %}">
                          <a href="{{ page.url | lswitch:page.lang,'en' }}" class="menu__link lang-bar__link lang-bar__link--eng">
                            <span class="menu__label lang-bar__label lang-bar__label--eng">Eng</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- :: Download Summary :: -->
                <div class="header__item header__item--download-summary">
                  <div class="download-summary__wrapper">
                    <a href="#" class="button download-summary">
                      <div class="download-summary__icon">
                        <img src="/img/icons/icon_pdf.png" alt="PDF" class="download-summary__icon-img">
                      </div>
                      <div class="download-summary__text-aside">
                        <span class="download-summary__label">{{ "Resumen global" | t:page.lang }}</span>
                      </div>
                    </a>
                  </div>
                </div>

              </div>

              <div class="header--print">
                <h1>This is printer header</h1>
              </div>
            </div>

            <!-- :: Ends header markup :: -->
          </div>
