<head>
  <!-- :: Metadata Set-Up :: -->
  <meta charset="UTF-8">

  <!-- :: Favicon :: -->
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="/favicon-large.png">
  <link rel="apple-touch-icon-precomposed" href="/favicon-large.png">

  <!-- :: Viewport Set-Up :: -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title_prefix }}{{ page.title | t:page.lang }}{{ page.title_sufix }}</title>

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Mira que te miro" />
  <meta property="og:title" content="Mira que te miro" />
  <meta property="og:url" content="https://miraquetemiro.org" />
  <meta property="og:image" content="https://miraquetemiro.org/content_files/mira-que-te-miro-social.jpeg" />
  <meta property="og:description" content="Mira que te Miro, monitoreo social de los compromisos en salud y derechos sexuales y reproductivos del Consenso de Montevideo sobre Población y Desarrollo." />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Mira que te miro" />
  <meta name="twitter:url" content="https://miraquetemiro.org" />
  <meta name="twitter:image" content="https://miraquetemiro.org/content_files/mira-que-te-miro-social.jpeg" />
  <meta name="twitter:description" content="Mira que te Miro, monitoreo social de los compromisos en salud y derechos sexuales y reproductivos del Consenso de Montevideo sobre Población y Desarrollo." />

  <!-- :: Jquery :: -->
  <script src="/lib/jquery-3.2.1/jquery.min.js"></script>
  
  <!-- :: Select 2 :: -->
  <script src="/lib/select2-4.0.3/js/select2.min.js"></script>
  <link rel="stylesheet" href="/lib/select2-4.0.3/css/select2.min.css">

  <!-- :: Select 2, Instances :: -->
  <script src="/js/regional-comparison--select2.js"></script>

  <!-- :: Country Card Print :: -->
  <script src="/js/country-card--print.js"></script>

  <!-- :: Modal behaviors :: -->
  <script src="/js/modals.js"></script>

  <!-- :: Font Families Stylesheet :: -->
  <link rel="stylesheet" href="/css/font-families.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> -->

  <!-- :: Main Stylesheet :: -->
  <link rel="stylesheet" href="/css/main.css">
  <script>
    // Global language variable
    lang = "{{ page.lang }}";
    default_lang = "{{ page.default_language }}"
  </script>

  <script src="/js/main-menu.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', "{{ page.analytics_property_id }}", 'auto');
    ga('set', 'page', '{{ page.path }}');
    ga('set', 'dimension0', lang);
    ga('send', 'pageview');
  </script>
</head>
