                                    <table class="topic-period-data__source-table source-table">
                                    {% for row in table_data %}
                                      {% if forloop.index == 1 and top_header %}
                                      <thead class="source-table__header">
                                        <tr class="source-table__row">
                                          {% for cell in row %}
                                          <th class="source-table__cell source-table__cell--header">{{ cell }}</th>
                                          {% endfor %}
                                        </tr>
                                      </thead>
                                      {% continue %}
                                      {% endif %}

                                      {% if (!top_header and forloop.index == 1) or (top_header and forloop.index == 2) %}
                                      <tbody class="source-table__body">
                                      {% endif %}

                                        <tr class="source-table__row">

                                        {% for cell in row %}
                                          {% if forloop.index == 1 and left_header %}
                                          <th class="source-table__cell source-table__cell--header">
                                            {{ cell }}
                                          </th>
                                          {% else %}
                                          <td class="source-table__cell">
                                            {{ cell }}
                                          </td>
                                          {% endif %}
                                        {% endfor %}

                                        </tr>

                                      {% if (!top_header and forloop.index == 1) or (top_header and forloop.index == 2) %}
                                      </tbody>
                                      {% endif %}

                                    {% endfor %}
                                    </table>
