                        <div class="topic-period-blocks__block">
                          <!-- :: Topic Period Card Begin :: -->
                          <div class="topic-period-data-card__wrapper">
                            <div class="topic-period-data-card is-expanded">
                              <div class="topic-period-data-card__heading">
                                <h5 class="topic-period-data-card__title">{{ "Documentos fuente" | t:page.lang }}</h5>
                              </div>
                              <div class="topic-period-data-card__body">
                                <ul class="data__list data__vertical topic-period-data__list topic-period-data__list--documents">

                                  {% for document in page.documents %}
                                  <li class="data__item topic-period-data__item is-{% cycle "odd", "even" %}">
                                    <p><a class="topic-period-data__item__link" href="{{ document.file_url }}">{{ document.name }}</a></p>
                                  </li>
                                  {% endfor %}
                                  
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
