                        <script src="/lib/paper-full.min.js"></script>
                        <script src="/js/circle-chart.js"></script>

                        <div class="topic-period-blocks__block">
                          {% for subtopic in page.evaluation_details %}
                          <div class="topic-period-data-card__wrapper">
                            <div class="topic-period-data-card topic-period-data-card--evaluation_details is-collapsed">
                              <div class="topic-period-data-card__heading">
                                <div class="topic-period-data-card__indicator">
                                  <div
                                    class="circle-graph topic-period-data-card__heading-circle-graph"
                                    data-subtopic_id="subtopic-{{ subtopic[0] }}"
                                    data-progress="{{ subtopic[1].progress }}">
                                    <div class="topic-period-data-card__heading-circle-graph__progress-indicator">{{ subtopic[1].progress }}%</div>

                                  </div>
                                </div>
                                <h5 class="topic-period-data-card__title">{{ subtopic[1].name }}</h5>
                                <a href="#" class="topic-period-data-card__collapsible-control is-collapsed">Open/Close</a>
                              </div>
                              <div class="topic-period-data-card__body">

                                <!-- :: Data begin :: -->
                                {% comment %}
                                The next if clause prevents the evaluation details (questions) to be printed for 
                                the SECRAT section of EIS
                                {% endcomment %}

                                {% if subtopic[0] != "211" %}
                                <ul class="data__list data__vertical topic-period-data__list">

                                {% comment %}
                                This <ul> element contains each of the components (questions) that belong to the subtopic.
                                Each of the components, in turn, can have its own set of child components that are exactly
                                the same, but nested.
                                {% endcomment %}

                                {% for component in subtopic[1].components %}

                                  {% assign component_type = component[1].type %}

                                  <li class="data__item topic-period-data__item is-{% cycle "odd", "even" %}">
                                    {% include content/subject_details/blocks/evaluation_components/{{component_type}}.html %}

                                    <!-- :: Child components :: -->
                                    {% if component[1].child_components != empty %}

                                    <ul class="data__list data__vertical topic-period-data__list">
                                    {% for component in component[1].child_components %}
                                    {% assign merged_answers = component[1].answer | join:'' %}
                                    {% assign component_type = component[1].type %}
                                    {% if merged_answers != empty %}

                                      <li class="data__item topic-period-data__item is-{% cycle "odd", "even" %}">
                                        {% include content/subject_details/blocks/evaluation_components/{{component_type}}.html %}
                                      </li>

                                    {% endif %}
                                    {% endfor %}
                                    </ul>

                                    {% endif %}
                                  </li>

                                {% endfor %}
                                </ul>
                                {% endif %}


                                {% comment %}
                                In the case of EIS, Curricular content, the only question that appears has the aggregate points,
                                because it is evaluated using two separate SECRAT-LAC forms. Presenting only the total points
                                is far too opaque, so in addition to the points given in EIS, a clarification will be provided
                                with points by age group, and charts to reflect evaluation by key concept and learning focus
                                (the two evaluation dimensions used in SECRAT, of which only the key concept is added to the
                                normal evaluation present elsewhere in the site)
                                {% endcomment %}

                                {% if page.subject['id'] == "42" and subtopic[0] == "211" %}
                                  {% include content/subject_details/blocks/secrat.html %}
                                {% endif%} 

                                <!-- :: Data end :: -->
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
