                        <div class="topic-period-blocks__block">
                          <div class="topic-period-data-card__wrapper">
                            <div class="topic-period-data-card is-expanded">
                              <div class="topic-period-data-card__heading">
                                <h5 class="topic-period-data-card__title">{{ "Medidas prioritarias" | t:page.lang }}</h5>
                              </div>
                              <div class="topic-period-data-card__body">
                                <ul class="data__list data__vertical topic-period-data__list">

                                {% for action in page.priority_actions %}
                                  <li class="data__item topic-period-data__item is-{% cycle "odd", "even" %}">
                                    <h5 class="topic-period-data__item__title">{{ action.title }}</h5>
                                    <div class="topic-period-data__item__text">{{ action.text }}</div>
                                  </li>
                                {% else %}
                                  <li class="data__item topic-period-data__item is-odd"><p>{{ "Esta sección está vacía" | t:page.lang }}</p></li>
                                {% endfor %}

                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
