<script src="/lib/Chart.min.js"></script>
<script src="/lib/stacked100.chart.js"></script>
<script src="/js/secrat-charts.js"></script>

<script>
  var key_concepts_2301 = JSON.parse('{{ page.secrat_chart_data['2301']['key_concepts'] | jsonify }}');
  var learning_focuses_2301 = JSON.parse('{{ page.secrat_chart_data['2301']['learning_focuses'] | jsonify }}');

  var key_concepts_2311 = JSON.parse('{{ page.secrat_chart_data['2311']['key_concepts'] | jsonify }}');
  var learning_focuses_2311 = JSON.parse('{{ page.secrat_chart_data['2311']['learning_focuses'] | jsonify }}');
</script>

<div class="secrat-evaluation">
  <div class="secrat-evaluation__intro-text">
    <p>{{ site.data['pages'][page.lang]['secrat_intro']['body'] }}</p>
  </div>
  
  {% for age_group in page.secrat %}
  <div class="secrat-age-group">

    {% capture age_group_intro %}secrat_intro_{{ age_group[0] }}{% endcapture %}
    <div class="secrat-age-group__intro">
      {{ site.data['pages'][page.lang][age_group_intro]['body'] }}
    </div>

    {% assign kce = age_group[1]['key_concepts_evaluation']%}
    <div class="secrat-age-group__score">{{ kce['overall_percent'] | round }}%</div>

    <div class="secrat-chart">
      {% capture chart_intro %}secrat_key_concepts_{{ age_group[0] }}{% endcapture %}
      <div class="secrat-chart__explanation">{{ site.data['pages'][page.lang][chart_intro]['body'] }}</div>
      {% capture chart_config_id %}key_concepts_{{ age_group[0] }}{% endcapture %}
      <div class="secrat-chart__chart" data-chart_config_id="{{ chart_config_id }}"></div>
    </div>

    <div class="secrat-chart">
      {% capture chart_intro %}secrat_learning_focuses_{{ age_group[0] }}{% endcapture %}
      <div class="secrat-chart__explanation">{{ site.data['pages'][page.lang][chart_intro]['body'] }}</div>
      {% capture chart_config_id %}learning_focuses_{{ age_group[0] }}{% endcapture %}
      <div class="secrat-chart__chart" data-chart_config_id="{{ chart_config_id }}"></div>
    </div>
  </div>
  {% endfor%}

</div>
