{% comment %}
This file renders both the recommendations and the additional information tabs.
Receives the info_items and the section_title from the calling template.
{% endcomment %}

                        <div class="topic-period-blocks__block">
                          <!-- :: Topic Period Card Begin :: -->
                          <div class="topic-period-data-card__wrapper">
                            <div class="topic-period-data-card is-expanded">
                              <div class="topic-period-data-card__heading">
                                <h5 class="topic-period-data-card__title">{{ section_title | t:page.lang }}</h5>
                              </div>
                              <div class="topic-period-data-card__body">
                                <!-- :: Data begin :: -->
                                <ul class="data__list data__vertical topic-period-data__list">

                                {% for item in info_items %}

                                  <li class="data__item topic-period-data__item is-{% cycle "odd", "even" %}">
                                    {% if item[1].text %}
                                    <div class="topic-period-data__item__text">
                                      {{ item[1].text }}
                                    </div>
                                    {% endif %}

                                    {% if item[1].table_data %}
                                    <div class="topic-period-data__item__table">
                                      {% assign table_data = item[1].table_data %}
                                      {% assign top_header = item[1].top_header %}
                                      {% assign left_header = item[1].left_header %}

                                      {% include content/subject_details/blocks/details_table.html %}
                                    </div>
                                    {% endif %}
                                  </li>

                                {% else %}

                                  <li class="data__item topic-period-data__item is-{% cycle "odd", "even" %}">
                                    <div class="topic-period-data__item__text">
                                      <p>{{ "Esta sección está vacía" | t:page.lang }}</p>
                                    </div>
                                  </li>

                                {% endfor %}
                                  
                                </ul>
                                <!-- :: Data end :: -->
                              </div>
                            </div>
                          </div>
                          <!-- :: Topic Period Card End :: -->
                        </div>
