                <div class="topic-rubrics__wrapper">
                  <div class="topic-rubrics">
                    <!--
                      ------------------ :: Topic Rubrics :: ------------------
                      
                      -The element .topic-rubrics__heading should be colored with the proper .fill-color--*
                       class, acording to the topic that is being detailed.

                    -->
                    <div class="topic-rubrics__heading fill-color--subject-nid-{{ page.subject.id }}">
                      <div class="topic-rubrics__title-bar">
                        <span class="topic-rubrics__progress">{{ page.subject.progress }}%</span>
                        <h3 class="topic-rubrics__title">{{ page.subject.name }}</h3>

                        {% capture country_url %}/countries/{{ page.country_code }}{% endcapture %}
                        <a href="{{ country_url | lp:page.lang }}" class="topic-rubrics__action-close">{{ "Cerrar" | t:page.lang }}</a>
                      </div>

                      <!-- .topic-rubrics__summary-bar should be here for multiple periods -->
                    </div>

                    {% assign num_periods = page.evaluation_periods | size %}
                    <div class="topic-rubrics__data">
                      <ul class="data__list data__list--vertical topic-rubrics__data-results">
                        
                        {% for subtopic in page.comparison_chart_data %}
                        <li class="data__item data__item--topic-rubrics-graph topic-rubrics__data-item">
                          <div class="data__row topic-rubrics-graph is-{% cycle "odd", "even" %}">
                            <div class="data__column-left topic-rubrics-graph__description">
                              <div class="topic-rubrics-graph__name">
                                <span class="topic-rubrics-graph__label">{{ subtopic[1].name }}</span>
                              </div>
                            </div>
                            <div class="data__column-right topic-rubrics-graph__evaluation topic-rubrics-graph__evaluation--periods-{{ num_periods }}">
                            {% for period_id in page.evaluation_periods %}
                            {% assign period = subtopic[1]['progress'][period_id] %}
                            {% assign progress = period %}
                            {% assign progress_negative = 100 | minus: progress %}
                            {% assign eval_color = progress | eval_color %}
                              <!-------------------- :: Topic Rubrics, Partial Data separator :: -------------------->
                              <div class="data__row topic-rubrics-graph__partial">
                                <div class="topic-rubrics-graph__bar-wrapper">
                                  <div class="topic-rubrics-graph__bar fill-color--eval-{{ eval_color }}" style="transform: translate(-{{progress_negative}}%);">
                                    <span class="topic-rubrics-graph__number-indicator">{{ progress }}%</span>
                                  </div>
                                </div>
                                <div class="topic-rubrics-graph__partial-year is-even">
                                  <span class="topic-rubrics-graph__partial-label">{{ period_id }}</span>
                                </div>
                              </div>
                            {% endfor %}
                            </div>
                          </div>
                        </li>
                        {% endfor %}
                        
                        <!-------------------- :: Topic Rubrics Data separator :: -------------------->
                      </ul>
                    </div> 
                  </div>
                </div>
