                <div class="country-topic-comparison__wrapper">
                  <div class="country-topic-comparison">
                    <div class="country-topic-comparison__heading">
                      {% capture country_url %}/countries/{{ page.country_code }}{% endcapture %}
                      <h3 class="country-topic-comparison__country-name"><a class="country-topic-comparison__country-name__link" href="{{ country_url | lp:page.lang }}">{{ page.country_name }}</a></h3>
                      <!-- INSERT ctc-year-selector FROM style guide here -->
                    </div>
                    <div class="country-topic-comparison__data">
                      <ul class="data__list data__list--horizontal country-topic-comparison__data-list">

                        {% for subject in page.header_chart_data %}
                        <li class="data__item data__item--ctc-topic ctc-topic">
                          <div class="ctc-topic__top">
                            <div class="ctc-topic__bar-wrapper">
                              <div class="ctc-topic__bar fill-color--subject-nid-{{subject[1]['id'] }}" style="transform: translate(0, {{ subject[1]['progress_negative'] }}%);">
                                <span class="ctc-topic__number-indicator">{{ subject[1]['progress'] }}%</span>
                              </div>
                            </div>
                            <div class="ctc-topic__tooltip">
                              <span class="ctc-topic__tooltip-label">{{ subject[1]['name'] }}</span>
                            </div>
                          </div>
                          <div class="ctc-topic__bottom">
                          {% capture subject_details_url %}/countries/{{ page.country_code }}/{{ subject[0] }}{% endcapture %}
                            <a href="{{ subject_details_url }}"><div class="ctc-topic__icon fill-color--subject-nid-{{ subject[1]['id'] }}"><img src="/img/topics/subject-{{ subject[1]['id'] }}.png" alt="Topic Icon" class="ctc-topic__icon-img"></div></a>
                            
                          </div>
                        </li>
                        {% endfor %}

                      </ul>
                    </div>
                  </div>
                </div>
