                <script src="/js/topic-detail-period--slider.js"></script>
                <script src="/js/topic-detail-period--cards-collapsible.js"></script>
                <div class="topic-period__wrapper">
                  <div class="topic-period">

                    {% include content/subject_details/subject_details_header.html %}
                    {% include content/subject_details/subject_details_blocks.html %}

                  </div>
                </div>
