                    <!-- :: Topic Period Cards Start :: -->
                    <div class="topic-period-blocks__wrapper">
                      <div class="topic-period-blocks">
                        {% include content/subject_details/blocks/evaluation_details.html %}

                        {% include content/subject_details/blocks/recommendations.html %}
                        
                        {% include content/subject_details/blocks/documents.html %}
                        
                        {% include content/subject_details/blocks/additional_information.html %}
                        
                        {% include content/subject_details/blocks/priority_actions.html %}
                      </div>
                    </div>
                    <!-- :: Topic Period Cards Ends :: -->
