                    <!-- :: Topic Period Headding Begins :: -->
                    <div class="topic-period__heading fill-color--subject-nid-{{ page.subject.id }}">
                      <div class="topic-period__title-bar">
                        <div class="topic-period__title-bar-item topic-period__title-bar-item--global-value">
                          <span class="topic-period__title-bar-label">{{ page.subject.progress }}%</span>
                        </div>
                        <div class="topic-period__title-bar-item topic-period__title-bar-item--country-name">
                          <span class="topic-period__title-bar-label topic-period__title-bar-label--title">{{ page.country_name }}</span>
                        </div>
                        <div class="topic-period__title-bar-item topic-period__title-bar-item--period">
                          <span class="topic-period__title-bar-label">{{ page.subject.name }}</span>
                        </div>
                      </div>
                      <div class="topic-period__menu-bar">
                        <nav class="menu menu--horizontal topic-period-menu">
                          <ul class="menu__list topic-period-menu__list">
                            <li class="menu__item topic-period-menu__item is-selected">
                              <a href="#" class="menu__link topic-period-menu__link" data-show="0">
                                <span class="menu__label topic-period-menu__label">Detalle de Evaluación</span>
                              </a>
                            </li>
                            <li class="menu__item topic-period-menu__item">
                              <a href="#" class="menu__link topic-period-menu__link" data-show="1">
                                <span class="menu__label topic-period-menu__label">Recomendaciones</span>
                              </a>
                            </li>
                            <li class="menu__item topic-period-menu__item">
                              <a href="#" class="menu__link topic-period-menu__link" data-show="2">
                                <span class="menu__label topic-period-menu__label">Documentos Fuente</span>
                              </a>
                            </li>
                            <li class="menu__item topic-period-menu__item">
                              <a href="#" class="menu__link topic-period-menu__link" data-show="3">
                                <span class="menu__label topic-period-menu__label">Información adicional</span>
                              </a>
                            </li>
                            <li class="menu__item topic-period-menu__item">
                              <a href="#" class="menu__link topic-period-menu__link" data-show="4">
                                <span class="menu__label topic-period-menu__label">Medidas Prioritarias</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                    <!-- :: Topic Period Headding Ends :: -->

