                <script src="/js/country-comparison.js"></script>
                <script src="/js/country-comparison--select2.js"></script>
                <script src="/js/country-comparison--table-odd-even.js"></script>

                <div class="country-comparison__wrapper">
                  <div class="country-comparison">
                    {% include content/country_comparison/header.html %}
                    {% include content/country_comparison/table.html %}
                  </div>
                </div>
