                <script src="/js/recommendations.js"></script>
                <div class="country-summary__wrapper">
                  <div class="country-summary">
                    <div class="country-card__wrapper">
                      <div class="country-card">

                        <div class="country-card__global-score">
                          <div class="country-global-score__bar-wrapper">
                            <div class="country-global-score__bar" style="transform: translate(0, {{ page.country_progress_negative }}%);">
                              <span class="country-global-score__number-indicator">{{ page.country_progress }}%</span>
                            </div>
                          </div>
                        </div>

                        <div class="country-card__country-picture country-bg--{{ page.country_code }}">
                          <h2 class="country-card__heading">
                            <span class="country-card__heading-label">{{ page.country_name }}</span>
                          </h2>
                        </div>
                        <div class="country-card__resume">
                          {{ page.country_text }}
                        </div>


                        <div class="country-card__menu">
                          <nav class="menu menu--custom country-card-menu">
                            <ul class="menu__list country-card-menu__list">
                              <li class="menu__item country-card-menu__item country-card-menu__item--print">
                                <a href="#" class="menu__link country-card-menu__link country-card-menu__link--print">
                                  <span class="menu__label country-card-menu__label country-card-menu__label--print">print</span>
                                </a>
                                <div class="country-card-menu__item-tooltip">
                                  <span class="country-card-menu__item-tooltip-label">{{ "Para un mejor resultado, marque las casillas de 'Imprimir colores de fondo' e 'Imprimir imágenes de fondo' en la ventana de impresión de su navegador" | t:page.lang }}</span>
                                </div>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>

                    <div class="country-summary-data">
                      <ul class="data__list data__list--vertical country-summary-data__results">
                        <!-------------------- :: Topic Clasification Separator :: -------------------->

                        {% for subject_group in page.chart_data %}
                        <li class="data__item data__item--country-summary-topic country-summary-data__item">
                          <div class="data__row country-summary-data__topic-total">
                            <h3 class="country-summary-data__topic-heading">{{ subject_group.name }}</h3>
                            <div class="country-summary-data__topic-total-label fill-color--{{ subject_group.id }}"></div>
                            <div class="topic-total-score__bar-wrapper">
                              <div class="topic-total-score__bar fill-color--{{ subject_group.id }}" style="transform: translate(-{{ subject_group.progress_negative }}%);">
                                <span class="topic-total-score__number-indicator">{{ subject_group.progress }}%</span>
                              </div>
                            </div>
                          </div>
                          <div class="data__row country-summary-data__topic-partials">

                          {% for subject in subject_group.bars %}
                            <div class="data__row country-summary-topic is-{% cycle "odd", "even" %}">
                              <div class="data__column-left country-summary-topic__topic">

                                {% capture subject_details_url %}/countries/{{ page.country_code }}/{{ subject.subject_nid }}{% endcapture %}
                                <a href="{{ subject_details_url | lp:page.lang }}"</a>
                                  <div class="country-summary-topic__icon fill-color--subject-nid-{{ subject.subject_nid }}"><img src="/img/topics/subject-{{ subject.subject_nid }}.png" alt="Topic Icon" class="country-summary-topic__icon-img"></div>
                                </a>

                                <div class="country-summary-topic__name">
                                  <a href="{{ subject_details_url | lp:page.lang }}" class="country-summary-topic__link"><span class="country-summary-topic__label">{{ subject.name }}</span></a>

                                  {% if subject.recommendations %}
                                  <span class="country-summary-topic__auxiliar-text" data-subject_nid="{{ subject.subject_nid }}">{{ "Ver recomendaciones" | t:page.lang }}</span>
                                  {% endif %}

                                </div>
                              </div>
                              <div class="data__column-right country-summary-topic__graph">
                                <div class="topic-partial-score__bar-wrapper">
                                  <div class="topic-partial-score__bar fill-color--subject-nid-{{ subject.subject_nid }}" style="transform: translate(-{{ subject.progress_negative }}%);">
                                    <span class="topic-partial-score__number-indicator">{{ subject.progress }}%</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}

                          </div>
                        </li>

                        {% endfor %}
                        
                      </ul>
                    </div>
                  </div>
                </div>
