                <div class="glossary__wrapper">
                  <div class="glossary">
                    <h2 class="glossary__heading">{{ "Glosario" | t:page.lang }}</h2>
                    <ul class="glossary__list">

                    {% for term in page.glossary %}
                      <li class="glossary__item">
                        <h3 class="glossary__item-heading">{{ term.name }}</h3>
                        <div class="glossary__item-content">{{ term.definition }}</div>
                      </li>
                    {% endfor %}
                      
                    </ul>
                  </div>
                </div>
