                <!--
                  :: Item List ::
                    [Variants]
                -->

                <div class="home-banner__wrapper">
                  <div class="home-banner">
                    <div class="home-banner__text">
                      <p>{{ site.data['pages'][page.lang]['intro_corta']['body'] }}</p>
                    </div>
                    <div class="home-banner__action">
                      <a href="./modal_info_page.html" class="home-banner__action-button"><span class="home-banner__action-label">{{ "Sobre nosotras" | t:page.lang }}</span></a>
                    </div>
                  </div>
                </div>


               {% include content/home/regional-comparison.html %} 


                <div class="sponsors__wrapper">
                  <div class="sponsors">
                    <div class="sponsors__picture">
                      <img src="/content_files/pages/home_socias.png" alt="{{ "Socias regionales" | t:page.lang }}" class="sponsors__img">
                    </div>
                  </div>
                </div>

              
