<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="is-{{ page.type }}">
  <!-- :: Begins basic Layout :: -->
  <div class="outer-wrapper" id="outer-wrapper">
    <!--
      :: Item List ::
        - top-container (tokens, no-display)
        - page-container (display)
        - bottom-container (tokens, no-display)
    -->
    <div class="top-container" id="top-container">

      <!-- :: Begins top-page markup :: -->

      <!--
        :: Item List ::
          - Top-Background
      -->

      <div class="top-background__wrapper">
        <div class="top-background"></div>
      </div>

      <!-- :: Ends top-page markup :: -->

    </div>
    <div class="page-container" id="page-container">
      
      <!-- :: Begins page markup :: -->
      <div class="page__wrapper">
        <div class="page">
          <!--
            :: Item List ::
              - header-container
              - main-container
              - footer-container
          -->

         {% include header.html %} 

          <div class="page__main-container">
            <!-- :: Begins main markup :: -->

            <div class="main__wrapper">
              <div class="main">
                {% include content/{{page.type}}.html %}
              </div>
            </div>

            <!-- :: Ends main markup :: -->
          </div>

         {% include footer.html %} 

        </div>
      </div>
      
      <!-- :: Ends page markup :: -->

    </div>
    <div class="bottom-container" id="bottom-container">
      
      <!-- :: Begins bottom-page markup :: -->
      {% include bottom.html %}
      {% include bottom/{{page.type}}.html %}
      <!-- :: Ends bottom-page markup :: -->

    </div>
  </div>
  <!-- :: Ends basic Layout :: -->
</body>
</html>
