                <div class="regional-comparison__wrapper">
                  <div class="regional-comparison">
                    {% include content/home/regional-comparison-toolbar.html %}
                    {% include content/home/regional-comparison-data.html %}
                  </div>
                </div>
