<script src="/js/regional-comparison.js"></script>

{% assign content_tree = site.data['content_tree'] %}
{% capture regions_key %}regions{{page.lang}}{% endcapture %}
{% assign regions = site.data[regions_key]['regions'] %}

                    <div class="regional-comparison-toolbar__wrapper">
                      <nav class="menu menu--custom regional-comparison-toolbar">
                        <form action="" class="form form--menu-inner-form menu__form regional-comparison-toolbar__form">
                          <ul class="menu__list regional-comparison-toolbar__list">
                            <li class="menu__item regional-comparison-toolbar__item regional-comparison-toolbar__item--heading">
                              <h2 class="form__heading regional-comparison-toolbar__heading">{{ "Comparación regional" | t:page.lang }}</h2>
                            </li>
                            <li class="menu__item regional-comparison-toolbar__item regional-comparison-toolbar__item--compare">
                              <div class="form__row regional-comparison-toolbar__row">
                                <span class="form__label menu__label regional-comparison-toolbar__label">{{ "Comparar" | t:page.lang }}:</span>
                                <select name="" id="regional-comparison-toolbar__compare-select" class="form__select regional-comparison-toolbar__select" style="width: 200px;">
                                  <option value="overall-overall">{{ "Puntaje total" | t:page.lang }}</option>

                                  {% comment %}
                                  *******************************************************  
                                  Populate the options with the subject groups
                                  *******************************************************  
                                  {% endcomment %}
                                  <optgroup label="{{ "Por componente" | t:page.lang }}:">
                                  {% for subject_group in content_tree['subject_groups'] %}

                                    {% assign id = subject_group[0] %}
                                    {% assign name = subject_group[1]['name'][page.lang] %}

                                    <option value="subject_group-{{id}}">{{ name }}</option>
                                  {% endfor %}
                                  </optgroup>

                                  {% comment %}
                                  *******************************************************  
                                  Populate the options with subjects
                                  *******************************************************  
                                  {% endcomment %}
                                  <optgroup label="{{ "Por subcomponente" | t:page.lang }}:">
                                  {% for subject_group in content_tree['subject_groups'] %}
                                  {% for subject in subject_group[1]['subjects'] %}

                                    {% assign id = subject[0] %}
                                    {% assign name = subject[1]['name'][page.lang] %}

                                    <option value="subject-{{id}}">{{ name }}</option>
                                  {% endfor %}
                                  {% endfor %}
                                  </optgroup>

                                </select>
                              </div>
                            </li>
                            <li class="menu__item regional-comparison-toolbar__item regional-comparison-toolbar__item--region">
                              <div class="form__row regional-comparison-toolbar__row">
                                <span class="form__label menu__label regional-comparison-toolbar__label">{{ "Región" | t:page.lang }}:</span>
                                <select name="" id="regional-comparison-toolbar__region-select" class="form__select regional-comparison-toolbar__select">
                                  {% comment %}
                                  *******************************************************  
                                  Populate the regions select
                                  *******************************************************  
                                  {% endcomment %}
                                  <option value="region-ALL">{{ "Todos los países" | t:page.lang }}</option>
                                  {% for region in regions %}
                                    {% assign id = region[0] %}
                                    {% assign name = region[1]['name'] %}
                                    <option value="region-{{id}}">{{ name }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </li>
                            <li class="menu__item regional-comparison-toolbar__item regional-comparison-toolbar__item--submit">
                              <a href="#" class="menu__link regional-comparison-toolbar__link">
                                <span class="menu__label regional-comparison-toolbar__label regional-comparison-toolbar__icon">{{ "Enviar" | t:page.lang }}</span>
                              </a>
                            </li>
                            <li class="menu__item regional-comparison-toolbar__item regional-comparison-toolbar__item--revert">
                              <a href="#" class="menu__link regional-comparison-toolbar__link">
                                <span class="menu__label regional-comparison-toolbar__label regional-comparison-toolbar__icon">{{ "Limpiar" | t:page.lang }}</span>
                              </a>
                            </li>
                            <li class="menu__item regional-comparison-toolbar__item regional-comparison-toolbar__item--help">
                              <a href="#" class="menu__link regional-comparison-toolbar__link">
                                <span class="menu__label regional-comparison-toolbar__label regional-comparison-toolbar__icon">{{ "Ayuda" | t:page.lang }}</span>
                              </a>
                            </li>
                          </ul>
                        </form>
                      </nav>
                    </div>
