      <script src="/js/country-menu.js"></script>
      <div class="modal__wrapper" style="display: none;">
        <div class="modal modal--country-menu">
          <div class="modal__close">
            <a href="#" class="modal__close-link">
              <span class="modal__close-label">{{ "Cerrar" | t:page.lang }}</span>
            </a>
          </div>
          
          <div class="country-menu__indicator">
            <span class="country-menu__indicator-label">{{ "Seleccione un país" | t:page.lang }}</span>
          </div>

          <nav class="menu menu--vertical country-menu">
            <ul class="menu__list country-menu__list">
            {% for country in site.data['countries'][page.lang] %}
              {% assign c = country[1] %}
              {% capture path %}/countries/{{c['code']}}/{% endcapture %}
              <li class="menu__item country-menu__item">
                <a href="{{ path | lp:page.lang }}" class="menu__link country-menu__link"><span class="menu__label country-menu__label">{{ c['name'] }}</span></a>
              </li>
                
            {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
