      <script src="/js/info-page--slider.js"></script>
      <script src="/js/info-page.js"></script>
      <div class="modal__wrapper" style="display: none;">
        <div class="modal modal--info-page">
          <div class="modal__close">
            <a href="#" class="modal__close-link">
              <span class="modal__close-label">{{ "Cerrar" | t:page.lang }}</span>
            </a>
          </div>
          
          <!-- :: Begins Modal content :: -->
          <div class="info-page">
            <nav class="menu menu--horizontal info-page__menu">
              <ul class="menu__list info-page__menu-list">
                <li class="menu__item info-page__menu-item is-selected">
                  <a href="#" class="menu__link info-page__menu-link" data-show="0">
                    <span class="menu_label info-page__menu-label">{{ site.data['pages'][page.lang]['intro']['title'] }}</span>
                  </a>
                </li>
                <li class="menu__item info-page__menu-item">
                  <a href="#" class="menu__link info-page__menu-link" data-show="1">
                    <span class="menu_label info-page__menu-label">{{ site.data['pages'][page.lang]['metodologia']['title'] }}</span>
                  </a>
                </li>
                <li class="menu__item info-page__menu-item">
                  <a href="#" class="menu__link info-page__menu-link" data-show="2">
                    <span class="menu_label info-page__menu-label">{{ site.data['pages'][page.lang]['organizaciones']['title'] }}</span>
                  </a>
                </li>
              </ul>
            </nav>
            <div class="info-page__blocks-wrapper">
              <div class="info-page__blocks">
                <div class="info-page__block-wrapper">
                  <div class="info-page__block info-page__block--introduction">
                    <div class="info-page__heading">
                      <div class="info-page__heading-picture">
                        <img src="/content_files/pages/modal_intro.png" alt="{{ site.data['pages'][page.lang]['intro']['title'] }}" class="info-page__heading-picture-img">
                      </div>
                      <h3 class="info-page__title">{{ site.data['pages'][page.lang]['intro']['title'] }}</h3>
                    </div>
                    <div class="info-page__content">
                      <p>{{ site.data['pages'][page.lang]['intro']['body'] }}</p>
                    </div>
                  </div>
                </div>
                <div class="info-page__block-wrapper">
                  <div class="info-page__block info-page__block--methodology">
                    <div class="info-page__heading">
                      <div class="info-page__heading-picture">
                        <img src="/content_files/pages/modal_metodologia.png" alt="{{ site.data['pages'][page.lang]['metodologia']['title'] }}" class="info-page__heading-picture-img">
                      </div>
                      <h3 class="info-page__title">{{ site.data['pages'][page.lang]['metodologia']['title'] }}</h3>
                    </div>
                    <div class="info-page__content">
                      <p>{{ site.data['pages'][page.lang]['metodologia']['body'] }}</p>
                    </div>
                  </div>
                </div>
                <div class="info-page__block-wrapper">
                  <div class="info-page__block info-page__block--participants">
                    <div class="info-page__heading">
                      <div class="info-page__heading-picture">
                        <img src="/content_files/pages/modal_organizaciones.jpg" alt="{{ site.data['pages'][page.lang]['organizaciones']['title'] }}" class="info-page__heading-picture-img">
                        
                      </div>
                      <h3 class="info-page__title">{{ site.data['pages'][page.lang]['organizaciones']['title'] }}</h3>
                    </div>
                    <div class="info-page__content">
                      <p>{{ site.data['pages'][page.lang]['organizaciones']['body'] }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- :: Ends Modal content :: -->

        </div>
      </div>

