      <div class="modal__wrapper" style="display: none;">
        <div class="modal modal--regional-comparison-help">
          <div class="modal__close">
            <a href="#" class="modal__close-link">
              <span class="modal__close-label">{{ "Cerrar" | t:page.lang }}</span>
            </a>
          </div>
          
          <!-- :: Begins Modal content :: -->
          <div class="regional-comparison-help">{{ site.data['pages'][page.lang]['ayuda_comparacion_regional']['body'] }}</div>
          <!-- :: Ends Modal content :: -->

        </div>
      </div>

